node_modules
cypress/screenshots
cypress/videos
cypress/fixtures/
.DS_Store
._.DS_Store
._*
*~
*.pyc
ve
.svn
\#*
local_settings.py
.project
.pydevproject
.settings
.coverage
media/CACHE
media/build
uploads
reports
