Django>=4.2.14,<5
pytz==2024.1
httplib2==0.22.0
feedparser==6.0.8
Markdown==3.7 # pyup: < 3
psycopg[binary]==3.2.1
versiontools==1.9.1
statsd==4.0.1
pep8==1.7.1
pyflakes==3.2.0
mccabe==0.7.0
configparser==7.1.0
importlib-metadata<8.5  # for flake8
zipp==3.20.0
flake8==7.1.0
pycodestyle==2.12.0
tornado==6.4
beautifulsoup4==4.12.0
cssselect==1.2.0
lxml==5.3.0
fuzzywuzzy==0.18.0
sure==2.0.0
coverage==7.6.0
pyasn1==0.6.0
cffi==1.17.0 # pyOpenSSL
cryptography==43.0.0  # pyOpenSSL
pyOpenSSL==24.2.1
ndg-httpsclient==0.5.1
urllib3==2.2.1  # requests, sentry-sdk
chardet==5.2.0  # requests
idna==3.8  # requests
certifi==2024.7.4  # requests, sentry-sdk
requests==2.32.1
typing_extensions==4.12.0

astroid==3.2.0
pylint==3.2.0

six==1.16.0
faker==28.0.0  # factory_boy
factory_boy==3.3.0

ldap3==2.9.1
sqlparse==0.5.0

# boto3 deps
s3transfer==0.10.0
jmespath==1.0.0

boto3>=1.9.198,<1.36.0
botocore>=1.12.198,<1.36.0

python-dateutil==2.9.0

django-indexer==0.3.0
django-templatetag-sugar==1.0
django-paging==0.2.5
django-annoying==0.10.6
django-appconf==1.0.5
django-statsd-mozilla==0.4.0
raven==6.10.0  # Remove from ccnmtlsettings, then here.
sentry-sdk==2.13.0

django-debug-toolbar==4.4.1

django-smoketest==1.2.0
# For django-extensions
typing==3.7.4.1; python_version < '3.5'
django-extensions==3.2.1
django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-impersonate==1.9.1
gunicorn==23.0.0
django-infranil==1.1.0
django-flatblocks==1.0.0

djangorestframework==3.15.0

django-storages==1.14.1
ctlsettings==0.3.1

text_unidecode==1.3

django-taggit==6.0.0

nameparser==1.1.0
oauth2==1.9.0.post1
oauthlib==3.2.0

pyparsing==3.1.0

pbr==6.1.0 # bandit
pyyaml==6.0.1 # bandit
stevedore==5.3.0  # bandit
bandit==1.7.0

django-smtp-ssl==1.0
django-contact-us==1.1.0
asgiref==3.8.1
entrypoints==0.4
aiocontextvars==0.2.2
django-s3sign<=0.4.0

python-cas==1.6.0
django-cas-ng==5.0.0

# logictools
lark==1.2.1
logiclearnertools==0.1.9

mpmath==1.3.0  # sympy
sympy==1.13.0  # torch

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0+cpu

numpy<2.2
levenshtein==0.25.0
rapidfuzz==3.9.0

backports.zoneinfo==0.2.1; python_version < '3.9'
webencodings==0.5.1 # django-markdownify
tinycss2==1.3.0 # django-markdownify
bleach==6.1.0 # django-markdownify
django-markdownify==0.9.3
