{% extends "base.html" %}

{% block title %} - Contact Us Confirmation{% endblock %}


{% block content %}
<main>
    <div class="envelope">
        <div class="top-fold"></div>
        <div class="left-fold"></div>
        <div class="back-fold">
            <div class="letter">
                <div class="letter-border"></div>
                <span class="line one"></span>
                <span class="line two"></span>
                <span class="line three"></span>
            </div>
        </div>
        <div class="right-fold"></div>
        <div class="bottom-fold"></div>
    </div>

    <h1 class="text-center">
        Thank you!
    </h1>


    <p class="text-center fs-4 mt-3 mb-0">We appreciate your feedback.</p>
    <p class="text-center fs-4 m-0">We will be in touch with you shortly.</p>

    <div class="text-center mt-5">
    <a href="/"
        class="btn btn-lg ll-button">
        <span class='ll-button__label'>Return to Home page</span>
    </a>
    </div>
</main>
{% endblock %}
