{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'js/lib/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/lib/tutorial.js' %}"></script>
{% endblock %}

{% block content %}
<main>
    <div class="" id="tutorial-container">
        <header class="main-banner exercise-space-banner sticky-top">
            <div class="container d-flex justify-content-start">
                <div class="main-banner__prompt">
                    <a href="/">&lsaquo;</a>
                </div>
                <figure class="main-banner__avatar align-self-center" aria-hidden="true">
                    <img src="{% static 'img/avatar-tutorial.svg' %}">
                </figure>
                <h1 class="align-self-center"><a href="/">
                    <span class="main-banner__subhead">TUTORIAL:</span><span class="main-banner__title">Using Logic Learner</span>
                </a></h1>
                    <button class="tutorial-prompt ms-auto align-self-center" data-segment="modal">
                        <div class="tutorial-prompt__text" data-cy="tutorial-one">1</div>
                    </button>
                <div class="align-self-center text-end" id="helper-modal">
                    <button type="button" class="btn btn-light ll-button me-0 me-md-1 mb-2 mb-md-0 text-nowrap btn-shrink"
                         data-bs-toggle="modal" data-bs-target="#lawSheetModal" data-cy="lawSheetModal">
                        <span class='ll-icons ll-button__icon'><img src="{% static 'img/icon-clipboard.svg' %}" alt="clipboard icon" /></span>
                        <span class="ll-button__text">Law sheet</span>
                    </button>
                    <button type="button" class="btn btn-light ll-button text-nowrap btn-shrink"
                         data-bs-toggle="modal" data-bs-target="#keyBindingModal" data-cy="keyBindingModal">
                        <span class='ll-icons ll-button__icon'><img src="{% static 'img/icon-keyboard.svg' %}" alt="keyboard icon" /></span>
                        <span class="ll-button__text">Logic symbols</span>
                    </button>
                </div>
            </div>
        </header>
        <section class="container content-body exercise-space tutorial-section">
            <p class="tutorial-prompt__instructions question fs-2 pt-0">
                <b>Welcome to Logic Learner!</b><br />Click on the numbers to explore the different parts of the tool’s interface.
            </p>

            <div class="guide__box guide-text" id="guide-modal">
                <button class="tutorial-close btn btn-warning" aria-label="Close"></button>
                <h2>Law sheet</h2>
                <p>The <b>Law sheet</b> lists the laws and their example statements. Refer to this when you need to review how the laws work. You can return to this sheet whenever needed. Tap on the <b>Law sheet</b> button to try it out.</p>
                <h2>Logic symbols</h2>
                <p>In propositional logic, we use logical connectives to build compound statements. Refer to the <b>Logic symbols</b> sheet on how to type in these connectives. You can return to this sheet whenever needed. Tap on the <b>Logic symbols</b> button to try it out.</p>
            </div>
            <section class="container border-top tutorial-section" id="maincontent">
                <button class="tutorial-prompt align-self-center mt-3" data-segment="question">
                    <div class="tutorial-prompt__text" data-cy="tutorial-two">2</div>
                </button>
                <p class="question fs-2 pt-0" id="helper-question">Prove that <span class="question-statement text-break">(p∨q)→r</span> is logically equivalent to <span class="question-statement text-break">(p→r)∧(q→r)</span>.</p>
                <div class="guide__box guide-text" id="guide-question">
                    <button class="tutorial-close btn btn-warning" aria-label="Close"></button>
                    <h2>Logic proof question</h2>
                    <p>This is an example of a question you will see in Logic Learner. The first propositional statement is the premise, and the second propositional statement is the end point of the proof.</p>
                </div>
                <div class="exercise-solution mt-0 pt-0">
                    <div class="solution-step mt-0 pt-0">
                        <p class="solution-step__prompt">To begin this proof,
                        <button class="tutorial-prompt align-self-center mt-0" data-segment="solution">
                            <div class="tutorial-prompt__text" data-cy="tutorial-three">3</div>
                        </button>
                        </p>
                        <div class="solution-step__form row">
                            <!-- form for law-stmnt -->
                            <div class="col-12 col-md-9 m-0 p-1 row" id="helper-solution">
                                <div class="col-12 col-md-5 mb-4 mb-md-0">
                                    <label for="inputLaw" class="form-label">If I apply this law...</label>
                                    <select id="inputLaw" class="form-select" tabindex="-1">
                                        <option value="" selected="">Choose One</option>
                                        <option value="Absorption">Absorption</option>
                                        <option value="Associativity">Associativity</option>
                                        <option value="Commutativity">Commutativity</option>
                                        <option value="De Morgan's Law">De Morgan’s Law</option>
                                        <option value="Distributivity">Distributivity</option>
                                        <option value="Domination">Domination</option>
                                        <option value="Double Negation">Double Negation</option>
                                        <option value="Idempotence">Idempotence</option>
                                        <option value="Identity">Identity</option>
                                        <option value="Iff as Implication">Iff as Implication</option>
                                        <option value="Implication as Disjunction">Implication as Disjunction</option>
                                        <option value="Negation">Negation</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-7 mb-4 mb-md-0">
                                    <label for="inputStatement" class="form-label">then I'll get this statement...</label>
                                    <input type="text" class="form-control" id="inputStatement" placeholder="Logic statement" tabindex="-1">
                                </div>
                                <div class="col-12 p-0 m-0">
                                    <div class="guide__box guide-text" id="guide-solution">
                                        <button class="tutorial-close btn btn-warning" aria-label="Close"></button>
                                        <h2>Solution step</h2>
                                        <p>Here is where you type your proof step by step. For each line of proof, you choose a law and type the resulting propositional statement after applying the law. Remember, if you forgot a law or which symbols you can type in, you can refer back to the <span class="text-nowrap"><b><img src="{% static 'img/icon-clipboard.svg' %}" style="width:1rem;" alt="clipboard icon" />Law sheet</b></span> and <span class="text-nowrap"><b><img src="{% static 'img/icon-keyboard.svg' %}" style="width:1rem;" alt="keyboard icon" /> Logic symbols</b></span> guide.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- go-delete -->
                            <div class="col-12 col-md-3 align-self-end text-center p-md-0 row">
                                <div class="col-3 col-md-12 p-0 m-0 stepaction-button">
                                    <button class="tutorial-prompt align-self-center mt-0" data-segment="stepactions">
                                        <div class="tutorial-prompt__text" data-cy="tutorial-four">4</div>
                                    </button>
                                </div>
                                <div class="col-7 col-md-12 m-0 px-0 py-1" id="helper-stepactions">
                                    <button type="button" class="btn ll-button btn-danger me-2" tabindex="-1">
                                        <span class="ll-button__text">Delete</span>
                                    </button>
                                    <button type="button" class="btn ll-button btn-success me-2" tabindex="-1">
                                        <span class="ll-button__text">Go!</span>
                                    </button>
                                </div>
                                <div class="col-12 p-0 m-0">
                                    <div class="guide__box guide-text" id="guide-stepactions">
                                        <button class="tutorial-close btn btn-warning" aria-label="Close"></button>
                                        <h2>Go, or Delete step</h2>
                                        <p>When you are done with your proof step, click the <b>“Go!”</b> button. You’ll move on to the next step if your statement is valid. If not, you will see a feedback, and can send in your proof step after making corrections.</p>
                                        <p>To remove the current step and return to the previous statement, use the <b>“Delete”</b> button </p>                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                    <div class="solution-actions">
<!--
                        <div class="mt-0 mx-4 p-0 text-center">
                            <button class="tutorial-prompt align-self-center mt-0 mx-0" data-segment="hint">
                            <div class="tutorial-prompt__text">5</div>
                            </button>
                            <button tabindex="-1" class="btn btn-lg ll-button mx-0 my-2 my-md-0" id="helper-hint">
                            <span class="ll-button__text">I need a hint</span>
                            </button>
                            <div class="guide__box guide-text" id="guide-hint">
                            <button class="tutorial-close btn btn-warning" aria-label="Close"></button>
                            <h2>Hints</h2>
                            <p>Use the hint button when you are stuck on a specific law or statement in the proof to get assistance with continuing with the proof. It is advised that you only use this option when you are completely stuck and have no other option to continue. You can use hints as often as needed throughout the proof.</p>
                            </div>
                        </div>
 -->
                        <div class="mt-0 mx-4 p-0 text-center">
                            <button class="tutorial-prompt align-self-center mt-0" data-segment="solutionkey">
                            <div class="tutorial-prompt__text" data-cy="tutorial-five">5</div>
                            </button>
                            <button tabindex="-1" class="btn btn-lg ll-button mx-0 my-2 my-md-0" id="helper-solutionkey">
                            <span class="ll-button__text">Show solution</span>
                            </button>
                            <div class="guide__box guide-text" id="guide-solutionkey">
                            <button class="tutorial-close btn btn-warning" aria-label="Close"></button>
                            <h2>Solution key</h2>
                             <p>This will reveal the solution key of the entire proof. The key is just one of many possible solutions for the question. It is meant to help you if you get stuck, or if you would like to compare the proof you have created with the optimized version. It is recommended that you use this as a guidance, only when needed.</p>
                            </div>
                        </div>
                        <div class="mt-0 mx-4 p-0 text-center">
                            <button class="tutorial-prompt align-self-center mt-0" data-segment="reset">
                            <div class="tutorial-prompt__text" data-cy="tutorial-six">6</div>
                            </button>
                            <button tabindex="-1" class="btn btn-lg ll-button mx-0 my-2 my-md-0" id="helper-reset">
                            <span class="ll-button__text">Reset proof</span>
                            </button>
                            <div class="guide__box guide-text" id="guide-reset">
                            <button class="tutorial-close btn btn-warning" aria-label="Close"></button>
                            <h2>Reset proof</h2>
                            <p>When you tap the <b>Reset proof</b> button, it will clear your entire proof. You can use this to restart if you want to try solving the proof in a different way, or if you want to practice doing the proof again. </p>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

        </section>

    <!-- Law Modal -->
    <div class="modal fade" id="lawSheetModal" tabindex="-1" aria-labelledby="lawSheetModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-variable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="lawSheetModalLabel">Laws of Propositional Logic</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
                <section class='col-12 col-md-6 law-definition'>
                    <h5>Absorption laws:</h5>
                    p ∨ (p ∧ q) ≡ p<br />
                    p ∧ (p ∨ q) ≡ p
                </section>
                <section class='col-12 col-md-6 law-definition'>
                    <h5>Associativity laws:</h5>
                    ( p ∧ q ) ∧ r ≡ p ∧ ( q ∧ r )<br />
                    ( p ∨ q ) ∨ r ≡ p ∨ ( q ∨ r )
                </section>
                <section class='col-12 col-md-6 law-definition'>
                    <h5>Commutativity laws:</h5>
                    p ∧ q ≡ q ∧ p<br />
                    p ∨ q ≡ q ∨ p
                </section>
                <section class='col-12 col-md-6 law-definition'>
                    <h5>De Morgan’s laws:</h5>
                    ¬( p ∧ q ) ≡ ¬p ∨ ¬q<br />
                    ¬( p ∨ q ) ≡ ¬p ∧ ¬q
                </section>
                <section class='col-12 col-md-6 law-definition'>
                    <h5>Distributive laws:</h5>
                    p ∧ ( q ∨ r ) ≡ ( p ∧ q ) ∨ ( p ∧ r )<br />
                    p ∨ ( q ∧ r ) ≡ ( p ∨ q ) ∧ ( p ∨ r )<br />
                    p ∨ ( q ∨ r ) ≡ ( p ∨ q ) ∨ ( p ∨ r )<br />
                    p ∧ ( q ∧ r ) ≡ ( p ∧ q ) ∧ ( p ∧ r )
                </section>
                <section class='col-12 col-md-6 law-definition'>
                    <h5>Domination laws:</h5>
                    p ∨ T ≡ T<br />
                    p ∧ F ≡ F
                </section>
                <section class='col-12 col-md-6 law-definition'>
                    <h5>Double negation law:</h5>
                    ¬¬p ≡ p
                </section>
                <section class='col-12 col-md-6 law-definition'>
                    <h5>Idempotent laws:</h5>
                    p ∨ p ≡ p<br />
                    p ∧ p ≡ p
                </section>
                <section class='col-12 col-md-6 law-definition'>
                    <h5>Identity laws:</h5>
                    p ∧ T ≡ p<br />
                    p ∨ F ≡ p
                </section>
                <section class='col-12 col-md-6 law-definition'>
                    <h5>Implication to disjunction law:</h5>
                    p → q ≡ ¬p ∨ q
                </section>
                <section class='col-12 col-md-6 law-definition'>
                    <h5>IFF to implication law:</h5>
                    p ↔ q ≡ ( p → q ) ∧ ( q → p )
                </section>
                <section class='col-12 col-md-6 law-definition'>
                    <h5>Negation laws:</h5>
                    p ∧ ¬p ≡ F<br />
                    p ∨ ¬p ≡ T<br />
                </section>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Key binding Modal -->
    <div class="modal fade" id="keyBindingModal" tabindex="-1" aria-labelledby="keyBindingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-variable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="keyBindingModalLabel">How to type logic symbols</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                <p>
                This is a guide on how to type logic symbols in your statements.
                </p>
               <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-nowrap pe-3">Key binding</th>
                            <th scope="col" class="text-nowrap pe-3">How to type</th>
                            <th scope="col" class="text-nowrap pe-3">Logic symbol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>^</td>
                            <td>The caret symbol, <b>^</b></td>
                            <td><b>∧</b> (and)</td>
                        </tr>
                        <tr>
                            <td>v</td>
                            <td>Lowercase <b>v</b>, as in victory</td>
                            <td><b>∨</b> (or)</td>
                        </tr>
                        <tr>
                            <td>~</td>
                            <td>Tilde symbol, <b>~</b></td>
                            <td><b>¬</b> (negation; not)</td>
                        </tr>
                        <tr>
                            <td>-></td>
                            <td>Hyphen and greater than symbols, <span class="text-nowrap"><b>-></b></span></td>
                            <td><b>→</b> (implies; if &hellip; then)</td>
                        </tr>
                        <tr>
                            <td><-></td>
                            <td>less than, hyphen, and greater than symbols, <span class="text-nowrap"><b><-></b></span></td>
                            <td><b>↔</b> (if and only if; iff; means the same as)</td>
                        </tr>
                        <tr>
                            <td>T</td>
                            <td>Uppercase <b>T</b></td>
                            <td><b>T</b> (True)</td>
                        </tr>
                        <tr>
                            <td>F</td>
                            <td>Uppercase <b>F</b></td>
                            <td><b>F</b> (False)</td>
                        </tr>
                    </tbody>
                </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    </div>
</main>
{% endblock %}
