<!DOCTYPE html>
<html lang="en">
<head>
	<title>Logic Learner{% block title %}{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Local CSS -->
	<link href="{{STATIC_URL}}build/main.css" rel="stylesheet">

    {% block css %}{% endblock %}

    <!-- Standard Meta Data -->
    <meta name="description" content="Logic Learner is a practice tool that help students improve their fluency and problem solving process in writing proofs for propositional logic." />
    <meta name="keywords" content="propositional logic, logic, discrete mathematics, computer science, teaching, learning, education" />
    <meta name="author" content="Computer Science Department and Center for Teaching and Learning at Columbia University" />
    <meta name="copyright" content="Center for Teaching and Learning at Columbia University - Code licensed GNU GPLv3">

    <!-- Dublin Core Metadata -->
    <meta name="DC.Title" content="Logic Learner: A practice tool for writing proofs in propositional logic" />
    <meta name="DC.Description" content="Logic Learner is a practice tool that help students improve their fluency and problem solving process in writing proofs for propositional logic." />
    <meta name="DC.Rights" content="Center for Teaching and Learning at Columbia University - Code licensed GNU GPLv3">
    <meta name="DC.Publisher" content="Center for Teaching and Learning at Columbia University" />
    <meta name="DC.Contributor" content="Computer Science Department and Center for Teaching and Learning at Columbia University" />

    <!-- Open Graph -->
    <meta property="og:title" content="Logic Learner: A practice tool for writing proofs in propositional logic" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://logiclearner.ctl.columbia.edu" />
    <meta property="og:image" content="{{STATIC_URL}}img/og-logiclearner.png" />
    <meta property="og:image:alt" content="A poster image for Logic Learner, containing the app logo, its title, a brief description, and web address." />
    <meta property="og:description" content="Logic Learner is a practice tool that help students improve their fluency and problem solving process in writing proofs for propositional logic." />
    <meta property="og:site_name" content="Logic Learner" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{STATIC_URL}}img/og-logiclearner.png" />
    <meta name="twitter:image:alt" content="A poster image for Logic Learner, containing the app logo, its title, a brief description, and web address." />
    <meta name="twitter:site" content="@columbiactl" />
    <meta name="twitter:title" content="Logic Learner: A practice tool for writing proofs in propositional logic" />
    <meta name="twitter:description" content="Logic Learner is a practice tool that help students improve their fluency and problem solving process in writing proofs for propositional logic." />

    {% include "ctlsettings/sentry_js.html" %}

    <!-- JSON Structured data -->
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "SoftwareApplication",
                "applicationCategory": "EducationalApplication",
                "url": "https://logiclearner.ctl.columbia.edu",
                "name": "Logic Learner: A practice tool for writing proofs in propositional logic",
                "about": "Logic Learner is a practice tool that help students improve their fluency and problem solving process in writing proofs for propositional logic.",
                "keywords": "propositional logic, logic, discrete mathematics, computer science, teaching, learning, education",
                "image": "{{STATIC_URL}}img/og-logiclearner.png"
            }
        </script>

    <!-- Favicons -->
	<link rel="apple-touch-icon" href="{{STATIC_URL}}img/apple-touch-icon.png">
	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">
	<link rel="icon" href="{{STATIC_URL}}img/favicon.ico">
	<link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">

    <meta id="csrf-token" name="csrf-token" content="{{csrf_token}}">
    <!-- For image reference -->
    <script>
        window.LogicLearner = {
            staticUrl: '{{ STATIC_URL }}',
            baseUrl: '//{{ request.get_host }}',
            rudderstackWriteKey: '{{ RUDDERSTACK_WRITE_KEY }}',
            rudderstackBackplaneUrl: '{{ RUDDERSTACK_BACKPLANE_URL }}',
        }
    </script>
    <!-- CU Privacy notice -->
    <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
    <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>

</head>
<body itemscope itemtype="http://schema.org/SoftwareApplication">

{% block topnavbar %}
<header>
    <div class="skippy">
        <div class="container p-0">
            <a class=" d-inline-block p-2 m-1" href="#maincontent">Skip to main content</a>
        </div>
    </div>
    <div class="navbar top-bar">
        <div class="container top-bar__container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img class="gn-i me-3 outline-icon" alt="" src="{{STATIC_URL}}img/logo-logiclearner-bw.svg">
                <img class="gn-i me-3 color-icon" alt="" src="{{STATIC_URL}}img/logo-logiclearner.svg">
                <span class="visually-hidden">Go to main page for</span><span>Logic Learner</span>
            </a>

            <ul class="nav col-auto top-bar__nav">
                <li>
                  <a href="/tutorial/" class="nav-link">
                    <img class="gn-i d-block mx-auto mb-1 outline-icon" alt="" src="{{STATIC_URL}}img/icon-tutorial.svg">
                    Tutorial
                  </a>
                </li>
                <li>
                  <a href="/" class="nav-link">
                    <img class="gn-i d-block mx-auto mb-1 outline-icon" alt="" src="{{STATIC_URL}}img/icon-grid.svg">
                    Levels
                  </a>
                </li>
            </ul>
        </div>
    </div>
</header>
{% endblock %}


{% block pagetitle %}{% endblock %}
{% block content %}{% endblock %}


{% block footer %}
<footer>
    <div class="container">
     <ul class="nav navlist--footer">
        <li class="nav-item">
            <a href="/about/">About Logic Learner</a>
        </li>
        <li class="nav-item">
            <a href="/contact/" title="Contact us">Contact Us</a>
        </li>
    </ul>
    <p class="ll-license text-center mt-3 fs-6">Logic Learner open-source code is on <a itemprop="license" rel="license noopener noreferrer" href="https://github.com/ccnmtl/logiclearner">Github</a> <span class="text-nowrap">with <a itemprop="license" rel="license noopener noreferrer" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPLv3</a> license.</span></p>
    <div class="row my-5">
        <div itemscope itemtype="http://schema.org/EducationalOrganization" class='col-12 col-md-6 text-center text-md-end pe-md-5 py-3'>
            <a href="https://ctl.columbia.edu" rel="noopener noreferrer" target="_blank" itemprop="url"><img src="{{STATIC_URL}}img/logo-ctl.svg" class="footer__logo img-fluid" alt="" itemprop="logo" /><span class="visually-hidden" itemprop="name">Center for Teaching and Learning at Columbia University</span></a>
        </div>
        <div itemscope itemtype="http://schema.org/EducationalOrganization" class='col-12 col-md-6 text-center text-md-start ps-md-5 py-3'>
            <a href="https://cs.columbia.edu" rel="noopener noreferrer" target="_blank" itemprop="url"><img src="{{STATIC_URL}}img/logo-cs.svg" class="footer__logo img-fluid" alt="" itemprop="logo" /><span class="visually-hidden" itemprop="name">Computer Science Department at Columbia University</span></a>
        </div>
        <div itemscope itemtype="http://schema.org/EducationalOrganization" class='col-12 text-center py-3 py-md-5'>
            <a href="https://www.engineering.columbia.edu/" rel="noopener noreferrer" target="_blank" itemprop="url"><img src="{{STATIC_URL}}img/logo-cuseas.svg" class="footer__logo img-fluid" alt="" itemprop="logo" /><span class="visually-hidden" itemprop="name"> The Fu Foundation School of Engineering and Applied Science at Columbia University</span></a>
        </div>
    </div>

    </div>
</footer>
{% endblock %}

{% block js %}{% endblock %}

{% if STAGING_ENV %}
<div class="alert alert-danger alert-dismissible" role="alert" style="position: fixed; bottom: 0px;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4 class="alert-heading">Warning: Staging Site</h4>
    <p>You are viewing a staging version of this site, not the production site.</p>
    <p>This site was last updated on: <strong>{{STAGING_DEPLOY_TIME}}</strong></p>
</div>
{% endif %}

</body>
</html>
