.main-banner {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #efefef;
    background: url('/media/img/bg-banner.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: bottom -5rem left 0;
    color: #fff;
    @include media-breakpoint-up(md) {
        background-size: cover;
        background-position: bottom;
    }
    &__title {
        display: block;
        text-shadow: 0 2px 4px rgba(0,0,0,.2), 0 4px 5px rgba(0,0,0,.14), 0 1px 10px rgba(0,0,0,.12);
        margin: 0.25rem 0;
        font-weight: 600;
    }
    &__subhead {
        display: block;
        font-size: 1rem;
        text-shadow: 0 2px 4px rgba(0,0,0,.2), 0 4px 5px rgba(0,0,0,.14), 0 1px 10px rgba(0,0,0,.12);
    }
    &__text {
        display: block;
        font-size: 1rem;
        text-shadow: 0 2px 4px rgba(0,0,0,.2), 0 4px 5px rgba(0,0,0,.14), 0 1px 10px rgba(0,0,0,.12);
        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }
    &__avatar {
        display: block;
        width: 5rem;
        height: 5rem;
        margin: 0 1.25rem 0 0;
        padding: 0;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: visible;
        border-radius: 50%;
        border: 1px solid #a5d6a7;
        background-color: #e8f5e9;
        align-self: center;
        -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.3), 0 5px 8px 0 rgba(0,0,0,.2), 0 1px 14px 0 rgba(0,0,0,.2);
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.3), 0 5px 8px 0 rgba(0,0,0,.2), 0 1px 14px 0 rgba(0,0,0,.2);
        img {
            width: 110%;
        }
        @include media-breakpoint-up(md) {
            width: 6rem;
            height: 6rem;
            margin: 0 1.525rem 0 0;
        }
        @include media-breakpoint-up(lg) {
            width: 7rem;
            height: 7rem;
            margin: 0 1.75rem 0 0;
        }
    }
}


.q-completion {
    width: 4rem;
    height: 4rem;
    border: 1px solid transparent;
    border-radius: 50%;
    margin: 0;
    padding: 0.5rem;
    vertical-align: middle;
    text-align: center;
    line-height: 190%;
    background-color: #e8f5e9;
    flex-grow: 0;
    flex-shrink: 0;
    color: #000;
}


.banner-hero {
    height: 10rem;
    position: relative;
    color: #fff;
    @include media-breakpoint-up(md) {
        height: 16rem;
    }
    @include media-breakpoint-up(lg) {
        height: 18rem;
    }
    @include media-breakpoint-up(xl) {
        height: 24rem;
    }
    &__container {
        margin-top: 1rem;
        @include media-breakpoint-up(md) {
            margin-top: 3.25rem;
        }
        @include media-breakpoint-up(lg) {
            margin-top: 4rem;
        }
        @include media-breakpoint-up(xl) {
            margin-top: 6rem;
        }
    }
    &__title {
        font-size: 2.125rem;
        font-weight: 700;
        text-shadow: 0 2px 5px rgba(0,0,0,.14), 0 1px 5px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.12);
        @include media-breakpoint-up(md) {
            font-size: 3.125rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 4rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 5rem;
        }
    }
    &__text {
        font-size: 1.125rem;
        font-weight: 600;
        text-shadow: 0 2px 5px rgba(0,0,0,.14), 0 1px 5px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.12);
        @include media-breakpoint-up(md) {
            font-size: 1.4rem;
        }
        @include media-breakpoint-up(lg) {
            font-size: 1.75rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 2rem;
        }
    }
    &__avatar {
        width: 4.5rem;
        height: 4.5rem;
        margin: 0 1.5rem 0 1rem;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #a5d6a7;
        background-color: #fff;
        flex-grow: 0;
        flex-shrink: 0;
        -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.3), 0 5px 8px 0 rgba(0,0,0,.2), 0 1px 14px 0 rgba(0,0,0,.2);
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.3), 0 5px 8px 0 rgba(0,0,0,.2), 0 1px 14px 0 rgba(0,0,0,.2);
        @include media-breakpoint-up(sm) {
            width: 6rem;
            height: 6rem;
            margin: 0 2rem 0 0;
        }
        @include media-breakpoint-up(md) {
            width: 8rem;
            height: 8rem;
        }
        @include media-breakpoint-up(xl) {
            width: 10rem;
            height: 10rem;
        }
        img {
            margin-top: -1rem;
            margin-left: -0.5rem;
            width: 130%;
            @include media-breakpoint-up(sm) {
                margin-top: -1.25rem;
                margin-left: -0.75rem;
            }
            @include media-breakpoint-up(md) {
                margin-top: -1.75rem;
                margin-left: -1.125rem;
            }
            @include media-breakpoint-up(lg) {
                margin-top: -1.75rem;
                margin-left: -1rem;
            }
            @include media-breakpoint-up(xl) {
                margin-top: -2.25rem;
                margin-left: -1.25rem;
            }
        }
    }
}


.exercise-space-banner {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    a {
        text-decoration: none;
        color: #fff;
    }
    h1 {
        margin-top: 0.5rem;
        @include media-breakpoint-up(md) {
            margin-top: 0;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: auto;
            width: auto;
        }
    }
    .main-banner__prompt {
        margin-top: -0.75rem;
        margin-right: 0.25rem;
        align-self: center;
        line-height: 1;
        flex-grow: 0;
        flex-shrink: 0;
        font-size: 4rem;
        font-weight: 400;
        @include media-breakpoint-up(md) {
            margin-right: 0.75rem;
        }
    }
    .main-banner__avatar {
        display: block;
        width: 2.875rem;
        height: 2.875rem;
        overflow: visible;
        margin: 0 0.75rem 0 0;
        padding: 0;
        border: 1px solid #a5d6a7;
        border-radius: 50%;
        background-color: #e8f5e9;
        flex-grow: 0;
        flex-shrink: 0;
        align-self: center;
        -webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.3), 0 5px 8px 0 rgba(0,0,0,.2), 0 1px 14px 0 rgba(0,0,0,.2);
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.3), 0 5px 8px 0 rgba(0,0,0,.2), 0 1px 14px 0 rgba(0,0,0,.2);
        @include media-breakpoint-up(md) {
            width: 4rem;
            height: 4rem;
            margin: 0 1rem 0 0;
        }
        @include media-breakpoint-up(lg) {
            width: 4rem;
            height: 4rem;
        }
    }
    .main-banner__subhead {
        display: none;
        font-size: 1rem;
        margin-right: 0.5rem;
        white-space: nowrap;
        font-weight: 600;
        @include media-breakpoint-up(md) {
            display: inline-block;
            font-size: 1.5rem;
        }
    }
    .main-banner__title {
        display: block;
        font-size: 1.275rem;
        font-weight: 600;
        @include media-breakpoint-up(md) {
            display: inline-block;
            font-size: 1.5rem;
        }
    }
}
