body {
    position: relative;
    min-height: 100vh;
}

main,
.main-app {
    padding-bottom: 1rem;
    min-height: calc(100vh - 20rem);
}

.content-body {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    font-size: 1.125rem;
}

.exercise-space {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    @include media-breakpoint-up(md) {
        padding: 0;
        width: 100%;
    }
    @include media-breakpoint-up(lg) {
        width: 48.74rem;
    }
    @include media-breakpoint-up(xl) {
        width: 58.125rem;
    }
    @include media-breakpoint-up(xxl) {
        width: 67.5rem;
    }
}

.grid-container {
    padding: 0 3rem;
    margin: 0 auto;
    font-size: 0.8rem;
    @include media-breakpoint-up(md) {
        padding: 0 1.5rem;
        font-size: 1rem;
    }
}

.grid-actions {
    margin: 0;
    padding: 1rem;
    border: none;
    border-top: 0.0625rem solid #ffe0b2;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff3e0;
    box-shadow: 0 -0.125rem 0.25rem 0 rgba(128, 128, 128, 0.25);
    @include media-breakpoint-up(md) {
        position: relative;
        bottom: 0;
        left: 0;
        padding: 1rem 0 0 0;
        margin: 2rem 0 0 0;
        width: 100%;
        border: none;
        border-top: 0.0625rem dotted #0d6efd;
        background-color: transparent;
        box-shadow: none;
    }
}