.ll-button {
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 500;
    background-color: #efefef;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 1px solid transparent;
}

.ll-icons {
    width: 20px;
    height: 20px;
    padding: 2px;
    line-height: 1;
}

.ll-button__icon {
    display: inline-block;
    margin-right: 5px;
}

.ll-button__icon > * {
    height: 100%;
}

.ll-button__text {
    padding: 0;
    margin: 0;
}

.cat-button {
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn-grid-selection {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: block;
    background-color: #e1f5fe;
    border: 0.125rem solid #81d4fa;
    border-radius: 0.3rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: $gray-900;
    text-align: left;
    line-height: 1.575;
    &:hover {
        background-color: #B3E5FC;
        border: 0.125rem solid #4FC3F7;
        color: $gray-900;
        text-decoration: none;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1rem;
    }
}

.selection-correct {
    background-color: $green-100;
    border: 0.125rem solid $green;
    &:hover {
        background-color: $green-100;
        border: 0.125rem solid $green;
    }
    & .selection-feedback-icon {
        margin-right: 1rem;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-color: $gray-100;
        border: 0.125rem solid $green-300;
        border-radius: 50%;
        color: $green;
        font-family: "Gentium Plus", serif;
        font-weight: 700;
        line-height: 2rem;
        font-size: 2rem;
        text-align: center;
        align-self: center;
    }
}

.selection-incorrect {
    background-color: $red-100;
    border: 0.125rem solid $red;
    &:hover {
        background-color: $red-100;
        border: 0.125rem solid $red;
    }
    & .selection-feedback-icon {
        margin-right: 1rem;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-color: $gray-100;
        border: 0.125rem solid $red-300;
        border-radius: 50%;
        color: $red;
        font-family: "Gentium Plus", serif;
        font-weight: 700;
        line-height: 2rem;
        font-size: 2rem;
        text-align: center;
        align-self: center;
    }
}

.btn-shrink {
    @include media-breakpoint-down(md) {
        padding: 0.125rem 0.5rem;
        display: block;
        margin-left: auto;
    }
}
