.cardset {
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
@media (min-width: 768px) {
.cardset {
    width: 36.25rem;
    }
}
@media (min-width: 992px) {
.cardset {
    width: 48.74rem;
    }
}
@media (min-width: 1200px) {
.cardset {
    width: 58.125rem;
    }
}
@media (min-width: 1400px) {
.cardset {
    width: 67.5rem;
    }
}

.cardset a {
    text-decoration: none;
}

.cardset-card {
    display: flex;
    flex-direction: row;
    padding: 1rem 0.5rem;
    border: 1px dotted #999;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
    .cardset-card {
        padding: 1rem;
    }
}


.cardset-card__avatar {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 0 0.5rem 0 0;
    padding: 0.5625rem;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #999;
    background-color: #eeeeee;
    align-self: center;
}
@media (min-width: 768px) {
    .cardset-card__avatar {
        width: 5rem;
        height: 5rem;
        margin: 0 1rem 0 0;
    }
}
@media (min-width: 992px) {
    .cardset-card__avatar {
        width: 7rem;
        height: 7rem;
        margin: 0 1rem 0 0;
    }
}


.cardset-card__number {
    display: block;
    width: 2.25rem;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.25;
    margin-right: 0.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
}
.cardset-card__number::after {
    content: ".";
}
@media (min-width: 768px) {
    .cardset-card__number {
        width: 4rem;
        font-size: 3rem;
        line-height: 1;
        margin-right: 1rem;
    }
}


.cardset-card__title {
    font-size: 1.25rem;
    align-self: center;
    margin-right: 1rem;
    line-height: 1.3;
}
@media (min-width: 768px) {
    .cardset-card__title {
        font-size: 1.75rem;
        line-height: 1.5;
    }
}

.level-name {
    font-size: 1.875rem;
    align-self: start;
}
@media (min-width: 768px) {
    .level-name {
        font-size: 2.5rem;
        line-height: 1.25;
        align-self: start;
    }
}

.cardset-card__subhead {
    font-size: 0.8125rem;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .cardset-card__subhead {
        font-size: 1rem;
    }
}


.cardset-card__text {
    font-size: 1rem;
    margin-right: 1rem;
    line-height: 1.3;
}
@media (min-width: 768px) {
    .cardset-card__text {
        font-size: 1.375rem;
        line-height: 1.5;
    }
}


.cardset-card__status {
    margin-left: auto;
    align-self: center;
    width: 2rem;
    height: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
}
@media (min-width: 768px) {
.cardset-card__status {
        width: 3rem;
        height: 3rem;
    }
}


.cardset-card__status-count {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-left: auto;
    align-self: center;
    /* width: 2.68rem;
    height: 2.68rem;*/
    flex-grow: 0;
    flex-shrink: 0;
}
@media (min-width: 768px) {
.cardset-card__status-count {
        font-size: 1.5rem;
        /*line-height: 2.5;
        width: 4rem;
        height: 4rem;*/
    }
}


.cardset-card__prompt {
    margin-top: -0.5rem;
    margin-left: 0.5rem;
    align-self: center;
    line-height: 1;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 2rem;
    font-weight: 600;
}
@media (min-width: 768px) {
.cardset-card__prompt {
        display: none;
    }
}


.cardset-levels {
    width: 100%;
}
@media (min-width: 768px) {
.cardset-levels {
    width: 29rem;
    }
}
@media (min-width: 992px) {
.cardset-levels {
    width: 39rem;
    }
}
@media (min-width: 1200px) {
.cardset-levels {
    width: 46.5rem;
    }
}
@media (min-width: 1400px) {
.cardset-levels {
    width: 54rem;
    }
}

