.outline-icon {
    filter: invert(98%) sepia(75%) saturate(128%) hue-rotate(275deg) brightness(112%) contrast(100%);
}

.icon-status {
    filter: invert(44%) sepia(94%) saturate(368%) hue-rotate(71deg) brightness(91%) contrast(93%);
}

.icon-status-initial {
    filter: invert(100%) sepia(0%) saturate(6312%) hue-rotate(152deg) brightness(123%) contrast(87%);
}
