.progress-state {
    &__4 {
        text-align: center;
        width: 1.5rem;
        margin-right: 1rem;
    }
    &__3 {
        text-align: center;
        width: 1.5rem;
        margin-right: 1rem;
    }
    &__2 {
        text-align: center;
        width: 1.5rem;
        margin-right: 1rem;
    }
    &__1 {
        text-align: center;
        width: 1.5rem;
        margin-right: 1rem;
    }
    &__0 {
        text-align: center;
        width: 1.5rem;
        margin-right: 1rem;
    }
    &__i {
        text-align: center;
        width: 1.5rem;
        margin-right: 0;
        @include media-breakpoint-up(md) {
            margin-right: 1rem;
        }
    }
}

.grid-level-progress {
    font-size: 0.875rem !important;
    font-weight: 600;
    padding: 0;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    @include media-breakpoint-up(md) {
        width: 50%;
        justify-content: flex-end;
        padding-right: 1rem;
    }
    & .grid-level-label {
        margin-right: 0.5rem;
        padding-top: 0.375rem;;
    }
    & .form-select {
        font-size: 0.875rem !important;
        font-weight: 600;
    }
}