.question {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.question-statement {
    background-color: #f3f3f3;
    padding: 0 0.125rem 0.25rem 0.125rem;
    border-radius: 0.25rem;
    font-weight: 600;
    word-wrap: break-word !important;
    word-break: break-word !important;
}
