.question {
    margin-top: 2rem;
    margin-bottom: 3rem;
    &__status {
        margin-left: 0;
        width: 15rem;
        display: flex;
        flex-direction: row;
        justify-content: start;
        @include media-breakpoint-up(md) {
            width: 15rem;
        }
        &__text {
            color: #666666;
            align-self: center;
            font-size: 1rem;
        }
        &__icon {
            margin-right: 0.5rem;
            align-self: center;
            width: 1.5rem;
            height: 1.5rem;
            flex-grow: 0;
            flex-shrink: 0;
            img {
                vertical-align: top;
            }
        }
    }
}

.question-statement {
    background-color: #ffe0b2;
    padding: 0 0.125rem 0.25rem 0.125rem;
    border-radius: 0.25rem;
    font-weight: 600;
    word-wrap: break-word !important;
    word-break: break-word !important;
}
