.solution-step {
    padding: 1.5rem 0.5rem;
    border: 0;
    margin-bottom: 0.5rem;
    &__prompt {
        font-weight: 600;
        font-size: 1.25rem;
    }
    &.readonly {
        background-color: rgba(232,245,233,0.5);
    }
    &.editable {
        border-bottom: 1px dashed #bbb !important;
    }
}


.solution-actions {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-up(sm) {
        flex-direction: column;
    }
    @include media-breakpoint-up(md) {
        flex-direction: row;
    }
}
