.solution-step {
    padding: 1.5rem 0.5rem;
    border: 0;
    margin-bottom: 0.75rem;
    &__prompt {
        font-weight: 600;
        font-size: 1.25rem;
    }
    &.readonly {
        background-color: rgba(232,245,233,0.5);
    }
    &.editable {
        border-bottom: 1px dashed #bbb !important;
    }
    &__status {
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        width: 2.5rem;
        height: 2.5rem;
        flex-grow: 0;
        flex-shrink: 0;
    }
    &__form select {
        font-weight: 500;
    }
}


.solution-actions {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-up(sm) {
        flex-direction: column;
    }
    @include media-breakpoint-up(md) {
        flex-direction: row;
    }
}


.hint_box {
	position: relative;
	background: rgba(232, 245, 233, 0.85);
	border: 0;
	border-radius: 0.25rem;
	margin: 0.6875rem 0;
	font-size: 0.9375rem;
	line-height: 1;
	padding: 0.5rem;
	&:after {
        bottom: 100%;
        left: 0.875rem;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(232, 245, 233, 0);
        border-bottom-color: rgba(232, 245, 233, 0.85);
        border-width: 8px;
        margin-left: -8px;
	}
}
