.solution-step {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed #bbb;
    &__prompt {
        font-weight: 600;
        font-size: 1.25rem;
    }
}


.solution-actions {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-breakpoint-up(sm) {
        flex-direction: column;
    }
    @include media-breakpoint-up(md) {
        flex-direction: row;
    }
}
