.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
}

.gn-i {
  vertical-align: -.125em;
  fill: white;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
